.jumbotron {
    text-align: center;
    background: none;
}

.sectionLight {
    background-color: #eceeef;
    padding: 2em;
}

.sectionDark{
    background-color: #cccccc;
    padding: 2rem;
}

.coolStuffWrapper{
    margin-top: 20px;
}

.coolStuffBtn {
    background-color: red;
    color:#ffffff;
    display: block;
    margin:auto;
}

.imgCenter{
    display: block;
    margin:auto;
}

.btnCenter {
    display: block;
    margin:auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 40%;
}

.footerImg {
    padding:15px;
}

.fa {
    margin:10px;
}

.fa-facebook-square {
    color:#3b5998;
}

.fa-google-plus-square{
    color:#c32f10;
}

.fa-instagram {
    color:white;
}

.socialWrapper {
    margin:auto;
}